.Wing{
    background-color: #fff;
    text-align: center;
    width: 400px;
    margin: auto;
    border-radius: 20px;
    height: 470px;


}
body{
    background: rgb(154, 209, 73);
}
.form{
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 10px;

}
.Use{
    height: 27px;
    border-radius: 10px;
    border: none;
   background: rgb(215, 215, 214);
}
.btn{
    height: 30px;
    border-radius: 10px;
    border: none;
    color: #fff;
    background: rgb(72, 127, 228);
}
.main{
    margin: 80px;
    margin-top: 5px;
    color: rgb(92, 192, 223);
    font-family: Arial, Helvetica, sans-serif;
}
.For{
    font-weight: bold;
}
.Welcome{
    font-size: 20px;
    color: rgb(135, 135, 133);
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    display: flex;
    justify-content:space-between;
    color: rgb(92, 192, 223);
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(41, 134, 211);
}
img{
    width: 200px;
}
h3{
    position: absolute;
    margin-top: 20%;
    margin-left: 26%;
}
.user{
    position: absolute;
    margin-top: 17%;
    margin-left: 26%;
}
